<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="rogv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <rogv.Properties.Settings>
            <setting name="TargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthId" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthPass" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPathTe" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerUrlTe" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerKeyTe" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHeaderTe" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthIdTe" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthPassTe" serializeAs="String">
                <value />
            </setting>
        </rogv.Properties.Settings>
    </userSettings>
</configuration>
